.titulo-navbar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: justify;

    color: #FFFFFF;
}

.paragrafo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    margin-top: 29px;

    color: #FFFFFF;
}

.paragrafo-centralizado {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 29px;

    color: #FFFFFF;
}

.hyperlink {
    color: greenyellow;
}

.standard-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.standard-pdf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 600px;
}

.cartao-titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.cartao-subtitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.modal-titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;

}

.modal-subtitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: left;

}

.modal-paragrafo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    margin-top: 29px;
}

.mail-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

ul.list-group > a {
    background-color: #d9d9d9;
}

.lista-evento {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}

.image-border {
    border-radius: 200px;
}

.carousel-container {
    width: 50%;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%; 
  max-height: 600px; 
  height: auto; 
  object-fit: contain;
  display: block;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: #ffffff;
    color: rgb(118, 118, 118);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0.8;
}

.carousel-buttons button:hover {
    opacity: 1;
}