<div class="grid grid--auto" style="--col-min: 16rem">
    @for (card of cards; track card.id) {
        <div class="tile">
            <img
                class="tile__icon"
                src="public/assets/img/mark.png"
                alt=""
                width="36"
                height="36"
                loading="lazy"
            />
            <h3 class="tile__title">{{ 'tutorialCollection.cards.' + card.key + '.title' | t }}</h3>
            <p class="tile__label">{{ card.code }}</p>
            <ul class="tile__list">
                <li>{{ 'tutorialCollection.cards.' + card.key + '.li1' | t }}</li>
                <li>{{ 'tutorialCollection.cards.' + card.key + '.li2' | t }}</li>
                <li>{{ 'tutorialCollection.cards.' + card.key + '.li3' | t }}</li>
                <li>{{ 'tutorialCollection.cards.' + card.key + '.li4' | t }}</li>
            </ul>
            <div class="tile__links">
                @if (tutorials.state() === 'loading') {
                    <small class="tile__note">{{ 'tutorialCollection.loading' | t }}</small>
                } @else if (tutorials.state() === 'error') {
                    <a
                        class="chip"
                        href="https://github.com/SoniaPujolLab/SlicerTutorialMakerCollection/tree/main/Tutorials"
                        target="_blank"
                        rel="noopener"
                        >{{ 'tutorialCollection.viewOnGitHub' | t }}</a
                    >
                } @else if (languagesById()?.get(card.id)?.length) {
                    @for (lang of languagesById()?.get(card.id); track lang.url) {
                        <a class="chip" [href]="lang.url" target="_blank" rel="noopener">{{
                            lang.display
                        }}</a>
                    }
                } @else {
                    <small class="tile__note">{{ 'tutorialCollection.noLanguages' | t }}</small>
                }
            </div>
        </div>
    }
</div>
