<div class="workshop-speakers">
    @for (speaker of speakers(); track speaker.name) {
        @if (speaker.href) {
            <a [href]="speaker.href" target="_blank" class="workshop-speaker">
                <img [src]="speaker.img" [alt]="speaker.alt ?? speaker.name" />
                <h3>{{ speaker.name }}</h3>
                <p>
                    <strong>{{ speaker.org }}</strong>
                </p>
                @if (speaker.bio) {
                    <p>{{ speaker.bio }}</p>
                }
                <span class="see-profile">See profile</span>
            </a>
        } @else {
            <div class="workshop-speaker">
                <img [src]="speaker.img" [alt]="speaker.alt ?? speaker.name" />
                <h3>{{ speaker.name }}</h3>
                <p>
                    <strong>{{ speaker.org }}</strong>
                </p>
                @if (speaker.bio) {
                    <p>{{ speaker.bio }}</p>
                }
            </div>
        }
    }
</div>
